{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

	<div class="container" id="intro">
		<h1>Hi, I'm <strong>Andrew Tomich</strong></h1>
		<p>Software Developer</p>
		<img src="{{ url_for('static', filename='img/at.jpg') }}" alt="Andrew Tomich">
	</div>

	<h1>Hi, {{ current_user.username }}!</h1>
	{% if form %}
		{{ wtf.quick_form(form) }}
	{% endif %}
	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}
	<nav aria-label="...">
		<ul class="pager">
			<li class="previous{% if not prev_url %} disabled{% endif %}">
				<a href="{{ prev_url or '#' }}">
					<span aria-hidden="true">&larr;</span> Newer posts
				</a>
			</li>
			<li class="next{% if not next_url %} disabled{% endif %}">
				<a href="{{ next_url or '#' }}">
					Older posts <span aria-hidden="true">&rarr;</span>
				</a>
			</li>
		</ul>
	</nav>
	{% endblock %}
